blur {
  passes 3 
  offset 2.0
  noise 0.05
  saturation 1.5
}

window-rule {
  match app-id="^kitty$"

  background-effect {
    blur true
    xray false
  }
}

layer-rule {
    match namespace="^dms"

    background-effect {
        xray false
    }
}
