/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #72333d !important;
  --toolbarbutton-icon-fill: #ffb2bb !important;
  --toolbar-field-color: #f0dedf !important;
  --tab-selected-textcolor: #ffb2bb !important;
  --toolbar-color: #f0dedf !important;
  --arrowpanel-color: #f0dedf !important;
  --arrowpanel-background: #261d1e !important;
  --sidebar-text-color: #f0dedf !important;
  --zen-main-browser-background: #1a1112 !important;
}

.sidebar-placesTree {
  background-color: #261d1e !important;
}

#zen-workspaces-button {
  background-color: #261d1e !important;
}

#TabsToolbar {
  background-color: #1a1112 !important;
}

.urlbar-background {
  background-color: #261d1e !important;
}

.urlbar-input::selection {
  color: #561d28 !important;
  background-color: #ffb2bb !important;
}

.urlbarView-url {
  color: #d7c1c3 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #ffb2bb
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ffbdc5 !important;
  --identity-icon-color: #ffbdc5 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #ffb2bb !important;
  --identity-icon-color: #ffb2bb !important;
}

.identity-color-green {
  --identity-tab-color: #baffa5 !important;
  --identity-icon-color: #baffa5 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffeda5 !important;
  --identity-icon-color: #ffeda5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffe372 !important;
  --identity-icon-color: #ffe372 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fa0 !important;
  --identity-icon-color: #ff9fa0 !important;
}

.identity-color-pink {
  --identity-tab-color: #ffc9cf !important;
  --identity-icon-color: #ffc9cf !important;
}

.identity-color-purple {
  --identity-tab-color: #76343c !important;
  --identity-icon-color: #76343c !important;
}

#zen-appcontent-navbar-container {
  background-color: #1a1112 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #ffb2bb !important;
  color: #ffb2bb !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #ffb2bb !important;
  color: #ffb2bb !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #ffb2bb !important;
}
