/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #676776 !important;
  --toolbarbutton-icon-fill: #c6c5d6 !important;
  --toolbar-field-color: #e5e1e3 !important;
  --tab-selected-textcolor: #c6c5d6 !important;
  --toolbar-color: #e5e1e3 !important;
  --arrowpanel-color: #e5e1e3 !important;
  --arrowpanel-background: #201f20 !important;
  --sidebar-text-color: #e5e1e3 !important;
  --zen-main-browser-background: #141314 !important;
}

.sidebar-placesTree {
  background-color: #201f20 !important;
}

#zen-workspaces-button {
  background-color: #201f20 !important;
}

#TabsToolbar {
  background-color: #141314 !important;
}

.urlbar-background {
  background-color: #201f20 !important;
}

.urlbar-input::selection {
  color: #2f2f3d !important;
  background-color: #c6c5d6 !important;
}

.urlbarView-url {
  color: #c8c5cc !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #c6c5d6
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #dcdbeb !important;
  --identity-icon-color: #dcdbeb !important;
}

.identity-color-turquoise {
  --identity-tab-color: #c6c5d6 !important;
  --identity-icon-color: #c6c5d6 !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffb6 !important;
  --identity-icon-color: #a5ffb6 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffe6a5 !important;
  --identity-icon-color: #ffe6a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffd872 !important;
  --identity-icon-color: #ffd872 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fb5 !important;
  --identity-icon-color: #ff9fb5 !important;
}

.identity-color-pink {
  --identity-tab-color: #f1f0ff !important;
  --identity-icon-color: #f1f0ff !important;
}

.identity-color-purple {
  --identity-tab-color: #555463 !important;
  --identity-icon-color: #555463 !important;
}

#zen-appcontent-navbar-container {
  background-color: #141314 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #c6c5d6 !important;
  color: #c6c5d6 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #c6c5d6 !important;
  color: #c6c5d6 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #c6c5d6 !important;
}
